body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.top-line {
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
    margin-bottom: 100px;

}

.link-button {
    text-decoration: none;
    padding: 12px 30px;
    background-image: linear-gradient(tomato, brown);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

#line-position {
    padding: 5%;
}

.next-line {
    text-align: center;
    margin-bottom: 100px;
}

.money-donate {
    display: inline-flex;
    text-align: center;
    gap: 50px;
    font-weight: 700px;
}

.money-ratio {
    margin-top: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px 10px;
    background-color: seashell;

}

#money-select {
    border-style: solid;
    border-radius: 5px;
    color: brown;
    background-color: lightsalmon;
}

.input-type {
    border-bottom: 50%;
    text-decoration: none;
}

.for-people {
    display: flex;
    text-align: left;
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.food-need {
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#color-one {
    background-color: whitesmoke;
}

#color-two {
    background-color: ghostwhite;

}

#color-three {
    background-color: wheat;
}

.class-four {
    display: flex;
    width: 50%;
}