body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.top-line {
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
    margin-bottom: 100px;

}

.link-button {
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(tomato, brown);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

#line-position {
    padding: 5%;
}

.next-line {
    text-align: center;
    margin-bottom: 100px;
}

.money-donate {
    display: inline-flex;
    text-align: center;
    gap: 50px;
    font-weight: 700px;
    width: 55%;
}

.money-ratio {
    margin-top: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px 10px;
    background-color: seashell;

}

#money-select {
    border-style: solid;
    border-radius: 5px;
    color: brown;
    background-color: lightsalmon;
}

.input-type {
    width: 50%;
    padding: 12px 20px;
    text-align: center;
}

.for-people {
    display: flex;
    text-align: left;
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.food-need {
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#color-one {
    background-color: whitesmoke;
}

#color-two {
    background-color: ghostwhite;
}
#color-three {
    background-color: wheat;
}
.class-four {
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%; 
    padding-left: 100px;
    padding-right: 100px;
}
.half-width-img{
    width: 80%;
    padding: 10px 10px 10px 10px;
    border: 2px, 2px, 2px, 2px;
    border-radius: 20px;
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}
.font-style{
    font-family: cursive;
    color: yellowgreen;
}
.email-sub{
    width: 50%;
    padding: 12px 3px;
    border: none;
    background-color: darkgrey;
}
.email-add{
    padding: 12px 0px;
    width: 20%;
    background-color:tomato;
    border: none;
}
.user-mail{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 0px;
    background-color:antiquewhite;
    
}